*.o
\#*#
*#
.#*
.*~
*~
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
fishd.*

# Fish local config
.fish/config-local.fish
.fish/fish_variables.x86_64

# Karabiner
.karabiner/automatic_backups
