*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
fishd.*

.fish/config-local.fish
.fish/fish_variables.x86_64

nvim/lazy-lock.json
lvim/plugin/packer_compiled.lua

# yarn
yarn

kitty/kitty.conf.bak
kitty/current-theme.conf

karabiner/automatic_backups
raycast
expressvpn
iterm2
btop
Battle.net
